*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background: #1e1e1e;
    color: #aaa;
    font-size: 14px;
    height: 100%;
}

input {
    height: 40px;
    padding: 6px;
    color: #fff;
    background-color: #2b2b2b;
    border-radius: 8px;
    border: 1px solid #2b2b2b;
    font-size: 16px;
    font-family: inherit;

    &:focus {
        border-color: #999;
        box-shadow: 0 0 0 1px #999;
        outline: none;
    }
}

a {
    color: #aaa;
    text-decoration: none;
    transition: color .2s ease-in-out;

    &:hover {
        color: #888;
    }

}

.material-icons-round {
    overflow: hidden;
}

.btn,
button,
input[type="button"],
input[type="submit"] {
    display: block;
    white-space: nowrap;
    height: 40px;
    line-height: 40px;
    color: #fff;
    font-family: inherit;
    padding: 0 20px;
    border: 0;
    background-color: #3784fd;
    border-radius: 8px;
    outline: none;
    cursor: pointer;


    &:hover {
        color: #fff;
        background-color: #57a0ff;
    }
}

ul {
    list-style: none;
}

.alert {
    width: 100%;
    margin-bottom: 16px;
    padding: 12px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
    color: #eee;
    background-color: #333;
    position: relative;
    border-left: 6px solid #72aee6;
    border-radius: 8px;

    .alert-item {
        display: flex;

        strong {
            flex: none;
        }
    }

    &.error {
        border-left-color: #d63638;
    }
}

.wrapper {
    max-width: 1400px;
    height: 100%;
    display: flex;
    margin: 0 auto;

    .aside {
        width: 280px;
        height: 100%;
        padding: 0 24px;

        .logo {
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: center;

            a {
                display: flex;
                gap: 8px;

                img {
                    width: 32px;
                    height: 32px;
                    object-fit: contain;
                }

                .title {
                    color: #999;
                    line-height: 32px;
                    font-size: 20px;
                    font-weight: bold;

                    span {
                        color: #fff;
                    }
                }
            }


        }

        .menu {
            li {
                a {
                    color: #aaa;
                    padding: 8px 16px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    font-size: 16px;
                    border-radius: 8px;

                    .title {
                        display: flex;
                        align-items: center;

                        span[class^="material-icons"] {
                            margin-right: 16px;
                            line-height: 32px;
                        }
                    }

                    .total {
                        font-size: 12px;
                    }

                    &:hover {
                        background-color: #242424;
                    }

                }

                &.active {
                    a {
                        color: #fff;
                        background-color: #2b2b2b;
                    }
                }
            }

        }
    }

    .container {
        flex: auto;
        padding-right: 40px;

        .header {
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 20%;

            .title {
                display: none;
                color: #999;
                line-height: 32px;
                font-size: 20px;
                font-weight: bold;

                span {
                    color: #fff;
                }
            }

            .search {
                flex: auto;

                input {
                    width: 100%;
                    padding-left: 52px;
                    background-image: url(/img/search.svg);
                    background-repeat: no-repeat;
                    background-size: 20px;
                    background-position: 16px center;

                    &:focus {
                        background-image: url(/img/search-active.svg);
                    }

                }
            }

            .user {
                position: relative;

                .avatar {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    background-size: contain;
                    cursor: pointer;
                }

                .user-panel {
                    position: absolute;
                    right: 0;
                    top: 50px;
                    border-radius: 8px;
                    width: 200px;
                    background: #fff;
                    box-shadow: 0 0 1px #fff;

                    .menu {
                        padding: 8px 0;

                        li {
                            a {
                                display: block;
                                padding: 8px 16px;
                            }

                            &:hover {
                                background-color: #e8e8e8;
                            }
                        }
                    }
                }
            }
        }
    }

    .open-nav {
        position: fixed;
        width: 40px;
        height: 40px;
        background-color: #1e1e1e;
        border-radius: 8px;
        left: 8px;
        bottom: 8px;
        display: none;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:hover {
            color: #888;
        }
    }
}

@media screen and (max-width: 768px) {
    .wrapper {
        .aside {
            display: none;
            padding: 0;
            width: 56px;
            background-color: #000;

            &.open {
                display: block;
            }

            .logo {
                a {
                    justify-content: center;
                    gap: 0;

                    .title {
                        display: none;
                    }
                }
            }

            .menu {
                li {
                    a {
                        padding: 8px 0;
                        border-radius: 0;
                        justify-content: center;

                        .title {
                            justify-content: center;

                            span[class^="material-icons"] {
                                margin-right: 0;
                            }

                            span:not([class^="material-icons"]) {
                                display: none;
                            }
                        }

                        .total {
                            display: none;
                        }
                    }
                }
            }
        }

        .container {
            padding: 0 16px;

            .header {
                .title {
                    display: block;
                }

                .search {
                    display: none;
                }
            }
        }

        .open-nav {
            display: flex;
        }
    }
}
