.login {
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    padding-top: 5%;

    .top-nav {
        display: flex;
        gap: 10px;
        height: 36px;
        align-items: center;

        a {
            display: flex;
            align-items: center;
            line-height: 24px;
        }
    }

    .loginform {
        padding: 24px;
        background: #262626;
        border-radius: 8px;

        .label-input {
            display: flex;
            flex-direction: column;
            margin-bottom: 12px;

            label {
                line-height: 1.5rem;
            }
        }

        .submit {
            display: block;
            margin-left: auto;
        }
    }

    .nav {
        display: flex;
        gap: 10px;
        padding: 0 10px;
        height: 36px;
        align-items: center;
    }
}
